body{
    border: 1px solid;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(255, 235, 205, 0.271);
}

h1 {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 20px;
    margin-top: 0px;
}

h2{
    text-align: left;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

footer {
    text-align: right;
    padding-right: 20px;
}

#form-id {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 30px;
}

#addEmpBtn {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin:  25px;
    float: right;
}

.table th {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 20px;
    text-align: left;
    background-color: rgb(168, 171, 169);
}

.tableContainer {
    width: 100%;
    margin: 4em 12.5%;
}

.tableData tr {
    border-collapse: collapse;
    border: 5px solid black;
    padding: 20px;
    text-align: left;
}

.tableData tr:nth-child(even){background-color: #f2f2f2;}

.tableData tr:hover {background-color: rgb(200, 199, 199);}
