header{

}

nav{

}

section{

}

table {
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border: 5px solid;
    width: 80%;
}

h1 {

}

h2{

}

button{

}

td{
    text-align: left;
    padding: 15px;
}

salarytd{
    text-align: right;
}