body{
    border: 1px solid;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 20px;
    margin-top: 0px;
}

h2{
    text-align: left;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

footer {
    text-align: right;
    padding-right: 20px;
}

/* #form-id {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between; 
} */

input::placeholder {
    justify-content: space-between;
}

#addEmpBtn {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin:  25px;
    float: right;
}  

.table {
border: 1px solid black;
}

.table th {
    width: 20%;
    border: 2px solid black;
    padding: 20px;
    text-align: left;
    background-color: rgb(168, 171, 169);
}

#tableData tr {
    border: 5px solid black;
    padding: 20px;
    text-align: left;
}

#tableData tr:nth-child(even){background-color: #f2f2f2;}

#tableData tr:hover {background-color: rgb(200, 199, 199);}

.errorMsg {
    text-align: center;
    color: red;
}
